//Dimensions
$height:100%;
$width:100%;

//Colors
// $colorA: rgba(236, 240, 241,.9);
$colorA: rgba(236, 240, 241,1);

$colorB: rgba(236, 240, 241,.0);

@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway|Righteous);

body{
  
//A lil layout  
font-family: Montserrat;
text-align:center;
  h1{
    font-size:60px;
  }

  //Positioning the main divs
  .landing-container div{
    z-index: 5;
    height:$height;
    width:$width;
    background-size:200%;
    background-position:0 50%;
    position:fixed;
    top:0;
  }

.social-icons {
  display: inline-block;
  z-index: 500;
  position: absolute;
  right: 20px;
  top: 20px;
}

.fa-icon {
 margin-right: 25px;
 height: 20px;
 cursor: pointer;
 color: white
}

.title-container {
  z-index: 500;
  position: absolute;
  top: 25%;
  width: 100%;
  height: 60%;
  letter-spacing: .3em;
}

.title {
  width: 40%;
  min-width: 300px;
  height: 75%;
  background: rgba(230, 230, 230, .96);
  box-shadow: 0px 0px 150px 150px rgba(230, 230, 230, .96);
  margin-left: auto;
  margin-right: auto;
}
  
#picture{
  background-size:100%;
  background-position:0 50%;
  position:fixed;
  top:0;
  background-image:url('../images/city-full.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  z-index:-1;
}
  
  //Setting the first layer
  // #layer1{
  //   background: repeating-linear-gradient(
  //   90deg,
  //   $colorB,
  //   $colorA,
  //   $colorB
  //   );
  // }
  
  // //Setting the second layer
  // #layer2{
  //   background: repeating-linear-gradient(
  //     90deg,
  //     $colorB,
  //     $colorA,
  //     $colorB
  //   );
  // }

  //   //Setting the second layer
  //   #layer3{
  //     background: repeating-linear-gradient(
  //       90deg,
  //       $colorB,
  //       $colorA,
  //       $colorB
  //     );
  //     // animation: layer3 5s linear infinite alternate;
  //   }
  
  // Animations
  // @keyframes layer1 {
  //   0% {background-position: 1000px 0;}
  //   50% {background-position: 500px 0;}
  //   100% {background-position: 0 0;}
  // }
  // @keyframes layer2 { 
  //   0% {background-position: 0 0%;}
  //   50% {background-position: 500px 0%;}
  //   100% {background-position: 1000px 0%;}
  // }
    @keyframes layer3 { 
    0% {background: repeating-linear-gradient(
      90deg,
      $colorB,
      $colorA,
      $colorB
              )}
    // 50% {background-position: 500px 0%;}
    100% {background: repeating-linear-gradient(
      90deg,
      $colorB,
      $colorB,
      $colorB
              )}
  }
}
